/* General */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-align: center;
    padding: 200px;
}

/* Fretboard */

#fretboard thead {
    font-size: 12px;
}

#fretboard tbody td {
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    width: 80px;
    height: 30px;
    position: relative;
    text-align: center;
}

#fretboard tbody tr td:first-of-type {
    border-right: 5px solid black;
    border-left: none;
    width: 30px;
}

#fretboard tbody tr:first-of-type td {
    border-top: none;
    height: 15px;
}

#fretboard tbody tr:last-of-type td {
    border-bottom: none;
    height: 15px;
}

.open_note {
    position: absolute;
    top: -8px;
    left: -20px;
    font-size: 14px;
}

.note {
    position: absolute;
    top: -8px;
    left: 30px;
    font-weight: 700;
}

.single_inlay {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: black;
    margin-left: auto;
    margin-right: auto;
}

.double_inlay {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: black;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -5px;
    left: 25px;
}
