/**
 * Fretboard Chart
 *
 * Nelson Reitz
 *
 * http://github.com/nelsonreitz/fretboard
 */

/** Table of content
 * - General
 * - Header
 * - Fretboard
 * - Options
 */

/* General */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

a {
    color: black;
    text-decoration: none;
}

/* Header */

.header {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 9em;
}

/* Fretboard */

#fretboard {
    text-align: center;
    margin-bottom: 6em;
}

#fretboard thead {
    font-size: 12px;
}

#fretboard tbody td {
    border-top: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    width: 80px;
    height: 30px;
    position: relative;
}

#fretboard tbody tr td:first-of-type {
    border-right: 5px solid black;
    border-left: none;
    width: 30px;
}

#fretboard tbody tr:first-of-type td {
    border-top: none;
    height: 15px;
}

#fretboard tbody tr:last-of-type td {
    border-bottom: none;
    height: 15px;
}

.open_note {
    position: absolute;
    top: -8px;
    left: -20px;
    font-size: 14px;
}

.note, .halfstep {
    position: absolute;
    top: -11px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
    border-radius: 2px;
}

.halfstep {
    color: grey;
    font-size: 13px;
    padding-top: 4px;
}

.single_inlay {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: grey;
    margin-left: auto;
    margin-right: auto;
}

.double_inlay {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: grey;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -5px;
    left: 25px;
}

.note.A {
    background-color: #FF8C94;
}

.note.B {
    background-color: #DCEDC2;
}

.note.C {
    background-color: #FFAAA6;
}

.note.D {
    background-color: #A8E6CE;
}

.note.E {
    background-color: #FFD3B5;
}

.note.F {
    background-color: #b0d2f4;
}

.note.G {
    background-color: #c1abea;
}

.halfstep.Ab {
    background-color: #ffe5e7;
}

.halfstep.Bb {
    background-color: #f2fce3;
}

.halfstep.Db {
    background-color: #e5fff4;
}

.halfstep.Eb {
    background-color: #fff1e8;
}

.halfstep.Gb {
    background-color: #ece2ff;
}

/* Options */

.options {
    width: 100%;
    border-top: 1px solid grey;
    padding-top: 15px;
}

.toggle_halfsteps {
    float: right;
}
