/**
 * style.css
 *
 * Fretboard Chart
 *
 * Nelson Reitz
 * http://github.com/nelsonreitz/fretboard
 */

/** Table of content
 * - General
 * - Header
 * - Fretboard
 * - Notes
 * - Bottom
 * - Options
 * - Footer
 * - Media queries
 */

/* General */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0A0F14;
    color: #444444;
}

p {
    margin: 0;
}

a {
    color: #444444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Header */

.header {
    width: 100%;
    height: 100px;
    background-color: #1F2E37;
    padding: 32px 32px 16px 32px;
}

.site-title {
    text-transform: uppercase;
    margin: 0 0 4px 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.5px;
}

.site-title a {
    color: #fff;
}

.site-title a:hover {
    text-decoration: none;
}

.subtitle {
    margin: 0;
    color: rgba(255,255,255,0.56);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

/* Fretboard */

#fretboard {
    text-align: center;
    width: 100%;
    height: 384px;
    background-color: #283D4A;
    padding: 96px 32px 64px 32px;
    border-bottom: 1px solid rgba(0,0,0,1);
    box-shadow: 0 1px 1px 0 #000000;
}

#fretboard table {
    width: 100%;
    table-layout: fixed;
}

#fretboard td#open_header {
    width: 40px;
}

#fretboard td#gap_header {
    width: 16px;
}

#fretboard .fretnumbers td {
    padding-bottom: 16px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

#fretboard tbody td {
    border-top: 1px solid rgba(255,255,255,0.41);
    border-right: 1px solid rgba(255,255,255,0.41);
    height: 32px;
    position: relative;
}

#fretboard tbody tr td:first-of-type {
    border: none;
}

#fretboard .fret0 {
    border-right: 2px solid #fff;
    border-left: none;
}

#fretboard tbody tr:first-of-type td {
    border-top: none;
    height: 16px;
}

#fretboard tbody tr:last-of-type td {
    border-bottom: none;
    height: 16px;
}

.single_inlay, .double_inlay {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: auto;
    margin-right: auto;
}

.double_inlay {
    position: absolute;
    top: -4px;
    left: 25px;
}

/* Notes */

.open_note {
    position: absolute;
    top: -8px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
}

.note, .halfstep {
    position: absolute;
    top: -13px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    color: black;
    padding-top: 2px;
    box-shadow: 0 1px 2px 0 #000;
}

.halfstep {
    color: rgba(0,0,0,0.7);
    font-size: 12px;
    padding-top: 5px;
}

.note.A {
    background-color: #FF8C94;
}

.note.B {
    background-color: #DCEDC2;
}

.note.C {
    background-color: #FFAAA6;
}

.note.D {
    background-color: #A8E6CE;
}

.note.E {
    background-color: #FFD3B5;
}

.note.F {
    background-color: #b0d2f4;
}

.note.G {
    background-color: #c1abea;
}

.halfstep.Ab {
    background-color: #ffe5e7;
}

.halfstep.Bb {
    background-color: #f2fce3;
}

.halfstep.Db {
    background-color: #e5fff4;
}

.halfstep.Eb {
    background-color: #fff1e8;
}

.halfstep.Gb {
    background-color: #ece2ff;
}

/* Options */

.options {
    width: 100%;
    height: 140px;
    background-color: #1F2E37;
    padding: 32px;
}

.option {
    display: inline-block;
}

.option label {
    color: rgba(255,255,255,0.7);
}

.button, input.button {
    background-color: #5A646A;
    height: 48px;
    border: none;
    border-radius: 2px;
    margin-right: 8px;
    padding: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    float: left;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.25), 0 1px 1px 0 #000000;
}

.button:hover {
    background-color: #828E96;
}

.option.tuning input[clicked="true"] {
    background-color: #2098CD;
    box-shadow: none;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.15);
}

.option.tuning {
}

.option.toggle_halfsteps {
}

.option.toggle_halfsteps {
    float: right;
}

.tuning label {
    display: inline-block;
    margin-bottom: 8px;
}

.toggle_halfsteps label {
}

 /* Haflsteps toggle */ 

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 32px;
  width: 32px;
  left: -2px;
  bottom: -2px;
  background-color: #828E96;
  box-shadow: inset 0 2px 0 0 rgba(255,255,255,0.25), 0 1px 1px 0 #000000;
  /*border: 2px solid #b7b7b7;*/
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2098CD;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 32px;
  background-color: #0A0F14;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.9);
  /*border: 2px solid rgba(255,255,255,0.3);*/

}

.slider.round:before {
  border-radius: 50%;
}

/* Footer */

.footer {
    width: 100%;
    padding: 32px;
    color: rgba(255,255,255,0.6);
    font-size: 14px;
}

.footer a {
    font-weight: 700;
    color: rgba(255,255,255,0.6);
}
